html {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222222;
    font-size: 13px
}

a {
    text-decoration: none;
}

a:hover, a:active { 
    text-decoration: underline;
}

#language-link {
    color: #1A0CAA;
}

.top-menu a {
    color: #202021;
} 

.buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.bottom-line hr{
    color: #DADCE0;
}

.bottom-menu a {
    color: #70757A;
    font-size: 15px;
} 

.bottom-menu {
    background-color: #F3F3F2;
}

/* FLEXBOX STARTS HERE */

.top-menu {
    display: flex;
    align-items: center;
    align-self: flex-end;
    height: 48px;
    padding: 6px;
    gap: 20px;
}

.main-logo {
    display: flex;
    align-items: flex-end;
    align-self: center;
    height: 165px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 160px;
    padding: 20px;
}

.search-bar {
    align-self: center;
}

.search-icon {
    align-self: flex-start;
    padding-right: 13px;
    margin-top: -5px;
}

.mic-icon {
    align-self: flex-end;
    padding-right: 13px;
    margin-top: -5px;
}

.buttons button {
    align-self: flex-end;
}

#language {
    align-self: center;
    height: 200px;
}

.bottom-menu {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.country {
    padding: 15px;
    align-items: center;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.bottom-left {
    align-self: flex-start;
    flex-grow: 1;
}

.bottom-right {
    align-self: flex-end;
}
