html {
    overflow: hidden;
}

body {
    margin:0;
    padding:0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222222;
    font-size: 13px
}

a {
    text-decoration: none;
}

a:hover, a:active { 
    text-decoration: underline;
}

#language-link {
    color: #1A0CAA;
}

.top-menu a {
    color: #202021;
} 

.buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.bottom-line hr{
    color: #DADCE0;
}

.bottom-menu a {
    color: #70757A;
    font-size: 15px;
} 

.bottom-menu {
    background-color: #F3F3F2;
}

/* FLEXBOX STARTS HERE */

.top-menu {
    display: flex;
    align-items: center;
    align-self: flex-end;
    height: 48px;
    padding: 6px;
    gap: 20px;
}

#logo {
    max-width: 290px;
}

.main-logo {
    display: flex;
    align-items: flex-end;
    align-self: center;
    height: 165px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 160px;
    width: 100%;
    padding: 20px;
    align-content: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 584px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.input-field {
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    outline: none;
}

.input-box {
    padding: 12px 20px;
    /* position: absolute; */
    max-width: 530px;
    width: 100%;
}

.search-icon {
    justify-self: start;
    padding-left: 13px;
}

.mic-icon {
    size: 100px;
    padding-right: 13px;
    justify-self: flex-end;
}

.buttons {
    padding-top: 25px;
}

.buttons button {
    align-self: flex-end;
}

#language {
    margin-top: 0%;
    align-self: center;
    height: 200px;
}

.bottom-menu {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.country {
    padding: 15px;
    align-items: center;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.bottom-left {
    align-self: flex-start;
    flex-grow: 1;
}

.bottom-left a {
    margin: 15px;
}

/* .bottom-right {
    align-self: flex-end;
} */

.bottom-right a {
    margin: 15px;
}
